:host {
  display: flex;
  align-items: center;
  width: 760px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

aside {
  flex: 1;
}

.divider {
  width: 1px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.12);
  margin: 0 24px;
}
