:host {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 12px;
  box-sizing: border-box;
}

ag-grid-angular {
  width: 100%;
  height: calc(100% - 1lh - 12px);
  margin-bottom: 12px;
}

footer {
  width: 100%;
  text-align: right;
}
